img{
	size: 100px;
}
.card{
	height: 98%;
	padding: 5px;
}
span button{
	float: right;
}
a{
	text-decoration: none;
}
body{
	background-color: #f6f6f6;
}/*
nav span{
	margin-left: 40px;
	margin-right: 40px;
}*/
